In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [81]:
cd /content/drive/My\ Drive

/content/drive/My Drive

In [0]:
import pickle

In [0]:
with open('X.pkl','rb') as in_file:
  X = pickle.load(in_file)
with open('y.pkl','rb') as in_file:
  y = pickle.load(in_file)

In [84]:
X.shape

(10714, 22)

In [85]:
y.shape

(10714,)

In [132]:
X[:,0][:5]

array([0., 0., 0., 0., 0.])

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from sklearn.ensemble import RandomForestRegressor

In [0]:
reg = RandomForestRegressor(n_estimators=500, min_samples_split=5, min_samples_leaf=15, max_features='auto', max_depth=9)

In [92]:
reg.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=9, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=15,
                      min_samples_split=5, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [93]:
reg.score(X_train,y_train)

0.5083151638352302

In [94]:
reg.score(X_test,y_test)

0.314376560966533

In [0]:
from keras.layers import Dense
from keras.models import Sequential

In [0]:
model = Sequential()
model.add(Dense(8,input_dim=X_train.shape[1], kernel_initializer='normal', activation='relu'))

model.add(Dense(1,kernel_initializer='normal'))

model.compile(loss='mean_squared_error', optimizer='adam',metrics = ['mean_squared_error'])

In [97]:
model.fit(X_train,y_train,epochs=200, batch_size=32)

Epoch 1/200
8571/8571 [==============================] - 0s 44us/step - loss: 2774.1455 - mean_squared_error: 2774.1455
Epoch 2/200
8571/8571 [==============================] - 0s 28us/step - loss: 2352.5866 - mean_squared_error: 2352.5866
Epoch 3/200
8571/8571 [==============================] - 0s 29us/step - loss: 1677.6370 - mean_squared_error: 1677.6370
Epoch 4/200
8571/8571 [==============================] - 0s 28us/step - loss: 1035.4805 - mean_squared_error: 1035.4805
Epoch 5/200
8571/8571 [==============================] - 0s 28us/step - loss: 574.6383 - mean_squared_error: 574.6383
Epoch 6/200
8571/8571 [==============================] - 0s 29us/step - loss: 309.9139 - mean_squared_error: 309.9139
Epoch 7/200
8571/8571 [==============================] - 0s 31us/step - loss: 190.9266 - mean_squared_error: 190.9266
Epoch 8/200
8571/8571 [==============================] - 0s 28us/step - loss: 148.2741 - mean_squared_error: 148.2741
Epoch 9/200
8571/8571 [==============================] - 0s 30us/step - loss: 132.8981 - mean_squared_error: 132.8981
Epoch 10/200
8571/8571 [==============================] - 0s 29us/step - loss: 124.5688 - mean_squared_error: 124.5688
Epoch 11/200
8571/8571 [==============================] - 0s 32us/step - loss: 118.2536 - mean_squared_error: 118.2536
Epoch 12/200
8571/8571 [==============================] - 0s 32us/step - loss: 113.0278 - mean_squared_error: 113.0278
Epoch 13/200
8571/8571 [==============================] - 0s 32us/step - loss: 108.6517 - mean_squared_error: 108.6517
Epoch 14/200
8571/8571 [==============================] - 0s 28us/step - loss: 104.9625 - mean_squared_error: 104.9625
Epoch 15/200
8571/8571 [==============================] - 0s 30us/step - loss: 101.8564 - mean_squared_error: 101.8564
Epoch 16/200
8571/8571 [==============================] - 0s 29us/step - loss: 99.2716 - mean_squared_error: 99.2716
Epoch 17/200
8571/8571 [==============================] - 0s 28us/step - loss: 97.0850 - mean_squared_error: 97.0850
Epoch 18/200
8571/8571 [==============================] - 0s 28us/step - loss: 95.1815 - mean_squared_error: 95.1815
Epoch 19/200
8571/8571 [==============================] - 0s 28us/step - loss: 93.6679 - mean_squared_error: 93.6679
Epoch 20/200
8571/8571 [==============================] - 0s 27us/step - loss: 92.2890 - mean_squared_error: 92.2890
Epoch 21/200
8571/8571 [==============================] - 0s 28us/step - loss: 91.1260 - mean_squared_error: 91.1260
Epoch 22/200
8571/8571 [==============================] - 0s 28us/step - loss: 89.9898 - mean_squared_error: 89.9898
Epoch 23/200
8571/8571 [==============================] - 0s 30us/step - loss: 89.0883 - mean_squared_error: 89.0883
Epoch 24/200
8571/8571 [==============================] - 0s 28us/step - loss: 88.2251 - mean_squared_error: 88.2251
Epoch 25/200
8571/8571 [==============================] - 0s 29us/step - loss: 87.4733 - mean_squared_error: 87.4733
Epoch 26/200
8571/8571 [==============================] - 0s 29us/step - loss: 86.7827 - mean_squared_error: 86.7827
Epoch 27/200
8571/8571 [==============================] - 0s 29us/step - loss: 86.1829 - mean_squared_error: 86.1829
Epoch 28/200
8571/8571 [==============================] - 0s 32us/step - loss: 85.5570 - mean_squared_error: 85.5570
Epoch 29/200
8571/8571 [==============================] - 0s 33us/step - loss: 85.1004 - mean_squared_error: 85.1004
Epoch 30/200
8571/8571 [==============================] - 0s 31us/step - loss: 84.6296 - mean_squared_error: 84.6296
Epoch 31/200
8571/8571 [==============================] - 0s 28us/step - loss: 84.1384 - mean_squared_error: 84.1384
Epoch 32/200
8571/8571 [==============================] - 0s 27us/step - loss: 83.8319 - mean_squared_error: 83.8319
Epoch 33/200
8571/8571 [==============================] - 0s 29us/step - loss: 83.5271 - mean_squared_error: 83.5271
Epoch 34/200
8571/8571 [==============================] - 0s 30us/step - loss: 83.1241 - mean_squared_error: 83.1241
Epoch 35/200
8571/8571 [==============================] - 0s 29us/step - loss: 82.7709 - mean_squared_error: 82.7709
Epoch 36/200
8571/8571 [==============================] - 0s 32us/step - loss: 82.5814 - mean_squared_error: 82.5814
Epoch 37/200
8571/8571 [==============================] - 0s 32us/step - loss: 82.2099 - mean_squared_error: 82.2099
Epoch 38/200
8571/8571 [==============================] - 0s 31us/step - loss: 81.9888 - mean_squared_error: 81.9888
Epoch 39/200
8571/8571 [==============================] - 0s 29us/step - loss: 81.7733 - mean_squared_error: 81.7733
Epoch 40/200
8571/8571 [==============================] - 0s 29us/step - loss: 81.5604 - mean_squared_error: 81.5604
Epoch 41/200
8571/8571 [==============================] - 0s 28us/step - loss: 81.3481 - mean_squared_error: 81.3481
Epoch 42/200
8571/8571 [==============================] - 0s 30us/step - loss: 81.2568 - mean_squared_error: 81.2568
Epoch 43/200
8571/8571 [==============================] - 0s 34us/step - loss: 81.0033 - mean_squared_error: 81.0033
Epoch 44/200
8571/8571 [==============================] - 0s 33us/step - loss: 80.8738 - mean_squared_error: 80.8738
Epoch 45/200
8571/8571 [==============================] - 0s 33us/step - loss: 80.6872 - mean_squared_error: 80.6872
Epoch 46/200
8571/8571 [==============================] - 0s 28us/step - loss: 80.5444 - mean_squared_error: 80.5444
Epoch 47/200
8571/8571 [==============================] - 0s 29us/step - loss: 80.3687 - mean_squared_error: 80.3687
Epoch 48/200
8571/8571 [==============================] - 0s 29us/step - loss: 80.2429 - mean_squared_error: 80.2429
Epoch 49/200
8571/8571 [==============================] - 0s 28us/step - loss: 80.1516 - mean_squared_error: 80.1516
Epoch 50/200
8571/8571 [==============================] - 0s 29us/step - loss: 80.0357 - mean_squared_error: 80.0357
Epoch 51/200
8571/8571 [==============================] - 0s 28us/step - loss: 79.9618 - mean_squared_error: 79.9618
Epoch 52/200
8571/8571 [==============================] - 0s 29us/step - loss: 79.8323 - mean_squared_error: 79.8323
Epoch 53/200
8571/8571 [==============================] - 0s 28us/step - loss: 79.7607 - mean_squared_error: 79.7607
Epoch 54/200
8571/8571 [==============================] - 0s 29us/step - loss: 79.6448 - mean_squared_error: 79.6448
Epoch 55/200
8571/8571 [==============================] - 0s 30us/step - loss: 79.5165 - mean_squared_error: 79.5165
Epoch 56/200
8571/8571 [==============================] - 0s 29us/step - loss: 79.4478 - mean_squared_error: 79.4478
Epoch 57/200
8571/8571 [==============================] - 0s 30us/step - loss: 79.3942 - mean_squared_error: 79.3942
Epoch 58/200
8571/8571 [==============================] - 0s 30us/step - loss: 79.2385 - mean_squared_error: 79.2385
Epoch 59/200
8571/8571 [==============================] - 0s 28us/step - loss: 79.1861 - mean_squared_error: 79.1861
Epoch 60/200
8571/8571 [==============================] - 0s 29us/step - loss: 79.1505 - mean_squared_error: 79.1505
Epoch 61/200
8571/8571 [==============================] - 0s 32us/step - loss: 79.0353 - mean_squared_error: 79.0353
Epoch 62/200
8571/8571 [==============================] - 0s 27us/step - loss: 78.9904 - mean_squared_error: 78.9904
Epoch 63/200
8571/8571 [==============================] - 0s 27us/step - loss: 78.9564 - mean_squared_error: 78.9564
Epoch 64/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.8482 - mean_squared_error: 78.8482
Epoch 65/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.8048 - mean_squared_error: 78.8048
Epoch 66/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.7091 - mean_squared_error: 78.7091
Epoch 67/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.6793 - mean_squared_error: 78.6793
Epoch 68/200
8571/8571 [==============================] - 0s 27us/step - loss: 78.6281 - mean_squared_error: 78.6281
Epoch 69/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.5601 - mean_squared_error: 78.5601
Epoch 70/200
8571/8571 [==============================] - 0s 30us/step - loss: 78.5290 - mean_squared_error: 78.5290
Epoch 71/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.4175 - mean_squared_error: 78.4175
Epoch 72/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.4258 - mean_squared_error: 78.4258
Epoch 73/200
8571/8571 [==============================] - 0s 29us/step - loss: 78.3607 - mean_squared_error: 78.3607
Epoch 74/200
8571/8571 [==============================] - 0s 31us/step - loss: 78.3385 - mean_squared_error: 78.3385
Epoch 75/200
8571/8571 [==============================] - 0s 29us/step - loss: 78.2423 - mean_squared_error: 78.2423
Epoch 76/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.2656 - mean_squared_error: 78.2656
Epoch 77/200
8571/8571 [==============================] - 0s 30us/step - loss: 78.1577 - mean_squared_error: 78.1577
Epoch 78/200
8571/8571 [==============================] - 0s 30us/step - loss: 78.1598 - mean_squared_error: 78.1598
Epoch 79/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.0840 - mean_squared_error: 78.0840
Epoch 80/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.0729 - mean_squared_error: 78.0729
Epoch 81/200
8571/8571 [==============================] - 0s 28us/step - loss: 78.0070 - mean_squared_error: 78.0070
Epoch 82/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.9628 - mean_squared_error: 77.9628
Epoch 83/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.9323 - mean_squared_error: 77.9323
Epoch 84/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.9130 - mean_squared_error: 77.9130
Epoch 85/200
8571/8571 [==============================] - 0s 27us/step - loss: 77.8621 - mean_squared_error: 77.8621
Epoch 86/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.8796 - mean_squared_error: 77.8796
Epoch 87/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.8070 - mean_squared_error: 77.8070
Epoch 88/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.7510 - mean_squared_error: 77.7510
Epoch 89/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.8218 - mean_squared_error: 77.8218
Epoch 90/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.7312 - mean_squared_error: 77.7312
Epoch 91/200
8571/8571 [==============================] - 0s 34us/step - loss: 77.7037 - mean_squared_error: 77.7037
Epoch 92/200
8571/8571 [==============================] - 0s 35us/step - loss: 77.6651 - mean_squared_error: 77.6651
Epoch 93/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.5883 - mean_squared_error: 77.5883
Epoch 94/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.5713 - mean_squared_error: 77.5713
Epoch 95/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.5234 - mean_squared_error: 77.5234
Epoch 96/200
8571/8571 [==============================] - 0s 32us/step - loss: 77.4700 - mean_squared_error: 77.4700
Epoch 97/200
8571/8571 [==============================] - 0s 33us/step - loss: 77.4956 - mean_squared_error: 77.4956
Epoch 98/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.4800 - mean_squared_error: 77.4800
Epoch 99/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.4686 - mean_squared_error: 77.4686
Epoch 100/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.4204 - mean_squared_error: 77.4204
Epoch 101/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.4259 - mean_squared_error: 77.4259
Epoch 102/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.3318 - mean_squared_error: 77.3318
Epoch 103/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.3570 - mean_squared_error: 77.3570
Epoch 104/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.3152 - mean_squared_error: 77.3152
Epoch 105/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.3421 - mean_squared_error: 77.3421
Epoch 106/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.3058 - mean_squared_error: 77.3058
Epoch 107/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.1525 - mean_squared_error: 77.1525
Epoch 108/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.2854 - mean_squared_error: 77.2854
Epoch 109/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.1902 - mean_squared_error: 77.1902
Epoch 110/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.1500 - mean_squared_error: 77.1500
Epoch 111/200
8571/8571 [==============================] - 0s 28us/step - loss: 77.0828 - mean_squared_error: 77.0828
Epoch 112/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.1592 - mean_squared_error: 77.1592
Epoch 113/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.0720 - mean_squared_error: 77.0720
Epoch 114/200
8571/8571 [==============================] - 0s 31us/step - loss: 77.1038 - mean_squared_error: 77.1038
Epoch 115/200
8571/8571 [==============================] - 0s 32us/step - loss: 77.0692 - mean_squared_error: 77.0692
Epoch 116/200
8571/8571 [==============================] - 0s 30us/step - loss: 77.0189 - mean_squared_error: 77.0189
Epoch 117/200
8571/8571 [==============================] - 0s 29us/step - loss: 77.0149 - mean_squared_error: 77.0149
Epoch 118/200
8571/8571 [==============================] - 0s 27us/step - loss: 77.0201 - mean_squared_error: 77.0201
Epoch 119/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.8990 - mean_squared_error: 76.8990
Epoch 120/200
8571/8571 [==============================] - 0s 27us/step - loss: 76.9886 - mean_squared_error: 76.9886
Epoch 121/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.9392 - mean_squared_error: 76.9392
Epoch 122/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.9690 - mean_squared_error: 76.9690
Epoch 123/200
8571/8571 [==============================] - 0s 27us/step - loss: 76.9046 - mean_squared_error: 76.9046
Epoch 124/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.9332 - mean_squared_error: 76.9332
Epoch 125/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.8697 - mean_squared_error: 76.8697
Epoch 126/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.8714 - mean_squared_error: 76.8714
Epoch 127/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.8747 - mean_squared_error: 76.8747
Epoch 128/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.7680 - mean_squared_error: 76.7680
Epoch 129/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.8560 - mean_squared_error: 76.8560
Epoch 130/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.8090 - mean_squared_error: 76.8090
Epoch 131/200
8571/8571 [==============================] - 0s 31us/step - loss: 76.7350 - mean_squared_error: 76.7350
Epoch 132/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.7788 - mean_squared_error: 76.7788
Epoch 133/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.7866 - mean_squared_error: 76.7866
Epoch 134/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.7074 - mean_squared_error: 76.7074
Epoch 135/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.7392 - mean_squared_error: 76.7392
Epoch 136/200
8571/8571 [==============================] - 0s 30us/step - loss: 76.6831 - mean_squared_error: 76.6831
Epoch 137/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.7108 - mean_squared_error: 76.7108
Epoch 138/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.7243 - mean_squared_error: 76.7243
Epoch 139/200
8571/8571 [==============================] - 0s 27us/step - loss: 76.6224 - mean_squared_error: 76.6224
Epoch 140/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.6436 - mean_squared_error: 76.6436
Epoch 141/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.5729 - mean_squared_error: 76.5729
Epoch 142/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.5799 - mean_squared_error: 76.5799
Epoch 143/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.5659 - mean_squared_error: 76.5659
Epoch 144/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.5104 - mean_squared_error: 76.5104
Epoch 145/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.5630 - mean_squared_error: 76.5630
Epoch 146/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.4535 - mean_squared_error: 76.4535
Epoch 147/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.5203 - mean_squared_error: 76.5203
Epoch 148/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.4135 - mean_squared_error: 76.4135
Epoch 149/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.4969 - mean_squared_error: 76.4969
Epoch 150/200
8571/8571 [==============================] - 0s 33us/step - loss: 76.4193 - mean_squared_error: 76.4193
Epoch 151/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.3781 - mean_squared_error: 76.3781
Epoch 152/200
8571/8571 [==============================] - 0s 30us/step - loss: 76.3971 - mean_squared_error: 76.3971
Epoch 153/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.4726 - mean_squared_error: 76.4726
Epoch 154/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.3559 - mean_squared_error: 76.3559
Epoch 155/200
8571/8571 [==============================] - 0s 31us/step - loss: 76.4073 - mean_squared_error: 76.4073
Epoch 156/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.4033 - mean_squared_error: 76.4033
Epoch 157/200
8571/8571 [==============================] - 0s 30us/step - loss: 76.3873 - mean_squared_error: 76.3873
Epoch 158/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.3414 - mean_squared_error: 76.3414
Epoch 159/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.2935 - mean_squared_error: 76.2935
Epoch 160/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.3260 - mean_squared_error: 76.3260
Epoch 161/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.3040 - mean_squared_error: 76.3040
Epoch 162/200
8571/8571 [==============================] - 0s 28us/step - loss: 76.3102 - mean_squared_error: 76.3102
Epoch 163/200
8571/8571 [==============================] - 0s 30us/step - loss: 76.2968 - mean_squared_error: 76.2968
Epoch 164/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.2632 - mean_squared_error: 76.2632
Epoch 165/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.2566 - mean_squared_error: 76.2566
Epoch 166/200
8571/8571 [==============================] - 0s 31us/step - loss: 76.2509 - mean_squared_error: 76.2509
Epoch 167/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.2726 - mean_squared_error: 76.2726
Epoch 168/200
8571/8571 [==============================] - 0s 27us/step - loss: 76.2704 - mean_squared_error: 76.2704
Epoch 169/200
8571/8571 [==============================] - 0s 29us/step - loss: 76.3062 - mean_squared_error: 76.3062
Epoch 170/200
8571/8571 [==============================] - 0s 32us/step - loss: 76.1888 - mean_squared_error: 76.1888

In [98]:
y_test[:10]

array([48.26959663, 59.56746349, 59.67295784, 51.59482067, 50.68222954,
       48.60426506, 46.8755097 , 48.20305286, 48.89225228, 48.69912801])

In [99]:
model.predict(X_test)[:10]

array([[49.15068 ],
       [59.11001 ],
       [58.885033],
       [52.2574  ],
       [49.996765],
       [50.502457],
       [46.819828],
       [50.4178  ],
       [47.574738],
       [49.464687]], dtype=float32)

In [0]:
from sklearn.metrics import r2_score,max_error,mean_absolute_error

In [101]:
r2_score(y_test,model.predict(X_test))

0.286339878921524

In [102]:
reg.predict(X_test)[:10]

array([48.47777892, 60.83254807, 59.69221953, 51.36279088, 49.91545665,
       48.54932748, 46.9745332 , 47.99147036, 48.78611574, 48.98622623])

In [103]:
max_error(y_test,model.predict(X_test))

41.22384646606446

In [104]:
mean_absolute_error(y_test,reg.predict(X_test))

3.719156831172849

In [105]:
mean_absolute_error(y_test,model.predict(X_test))

4.318583784785657

In [0]:
import pandas as pd

In [0]:
df_test = pd.read_excel('Test_dataset.xlsx')

In [108]:
df_test.head()

   people_ID Region  Gender  ... Insurance   salary FT/month
0       5942  Delhi  Female  ...   3900000  1300000        1
1      18664  Delhi    Male  ...   1800000  1300000        1
2       5603  Delhi  Female  ...   5000000  2000000        2
3       5649  Delhi  Female  ...   3100000   600000        2
4       5099  Delhi  Female  ...   2300000  1500000        1

[5 rows x 27 columns]

In [0]:
df_test_sub = df_test.copy()

In [110]:
df_test_sub.head()

   people_ID Region  Gender  ... Insurance   salary FT/month
0       5942  Delhi  Female  ...   3900000  1300000        1
1      18664  Delhi    Male  ...   1800000  1300000        1
2       5603  Delhi  Female  ...   5000000  2000000        2
3       5649  Delhi  Female  ...   3100000   600000        2
4       5099  Delhi  Female  ...   2300000  1500000        1

[5 rows x 27 columns]

In [0]:
df_test_sub.drop(['people_ID','Region','Name','Designation','Occupation'],axis=1,inplace = True)

In [112]:
df_test_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14498 entries, 0 to 14497
Data columns (total 22 columns):
Gender                    14498 non-null object
Married                   14498 non-null object
Children                  14498 non-null int64
Mode_transport            14498 non-null object
cases/1M                  14498 non-null int64
Deaths/1M                 14498 non-null int64
comorbidity               14498 non-null object
Age                       14498 non-null int64
Coma score                14498 non-null int64
Pulmonary score           14498 non-null object
cardiological pressure    14498 non-null object
Diuresis                  14498 non-null int64
Platelets                 14498 non-null int64
HBB                       14498 non-null int64
d-dimer                   14498 non-null int64
Heart rate                14498 non-null int64
HDL cholesterol           14498 non-null int64
Charlson Index            14498 non-null int64
Blood Glucose             14498 non-null int64
Insurance                 14498 non-null int64
salary                    14498 non-null int64
FT/month                  14498 non-null int64
dtypes: int64(16), object(6)
memory usage: 2.4+ MB

In [113]:
df_test_sub.shape

(14498, 22)

In [0]:
df_test_sub[[x for x in df_test_sub.columns if df_test_sub[x].dtype == 'O']] = df_test_sub[[x for x in df_test_sub.columns if df_test_sub[x].dtype == 'O']].astype('category')

In [115]:
df_test_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14498 entries, 0 to 14497
Data columns (total 22 columns):
Gender                    14498 non-null category
Married                   14498 non-null category
Children                  14498 non-null int64
Mode_transport            14498 non-null category
cases/1M                  14498 non-null int64
Deaths/1M                 14498 non-null int64
comorbidity               14498 non-null category
Age                       14498 non-null int64
Coma score                14498 non-null int64
Pulmonary score           14498 non-null category
cardiological pressure    14498 non-null category
Diuresis                  14498 non-null int64
Platelets                 14498 non-null int64
HBB                       14498 non-null int64
d-dimer                   14498 non-null int64
Heart rate                14498 non-null int64
HDL cholesterol           14498 non-null int64
Charlson Index            14498 non-null int64
Blood Glucose             14498 non-null int64
Insurance                 14498 non-null int64
salary                    14498 non-null int64
FT/month                  14498 non-null int64
dtypes: category(6), int64(16)
memory usage: 1.9 MB

In [0]:
categorical_columns = ['Gender','Married','Mode_transport','comorbidity','Pulmonary score', 'cardiological pressure']

In [0]:
for i in categorical_columns:
  df_test_sub[i] = df_test_sub[i].cat.codes

In [118]:
df_test_sub.head()

   Gender  Married  Children  ...  Insurance   salary  FT/month
0       0        1         2  ...    3900000  1300000         1
1       1        1         2  ...    1800000  1300000         1
2       0        1         2  ...    5000000  2000000         2
3       0        1         2  ...    3100000   600000         2
4       0        1         2  ...    2300000  1500000         1

[5 rows x 22 columns]

In [0]:
X_t = df_test_sub.values

In [0]:
X_t = sc.transform(X_t)

In [121]:
reg.predict(X_t)

array([52.93344677, 52.81643399, 52.60823672, ..., 45.43045854,
       45.41097942, 48.86732452])

In [0]:
df_test['Infect_prob'] = reg.predict(X_t)

In [123]:
df_test.head(15)

    people_ID Region  Gender  ...   salary FT/month Infect_prob
0        5942  Delhi  Female  ...  1300000        1   52.933447
1       18664  Delhi    Male  ...  1300000        1   52.816434
2        5603  Delhi  Female  ...  2000000        2   52.608237
3        5649  Delhi  Female  ...   600000        2   52.674836
4        5099  Delhi  Female  ...  1500000        1   52.722272
5       18749  Delhi    Male  ...  1700000        1   52.735209
6        5228  Delhi  Female  ...  1000000        2   52.771254
7        5559  Delhi  Female  ...   400000        1   52.645292
8        5220  Delhi  Female  ...  1600000        2   52.593750
9        5476  Delhi  Female  ...   800000        1   52.728860
10       5260  Delhi  Female  ...  2000000        1   52.844667
11      17638  Delhi    Male  ...   800000        2   52.717767
12      18635  Delhi    Male  ...  1800000        2   52.588712
13      18794  Delhi    Male  ...  1300000        0   61.288963
14       5263  Delhi  Female  ...   900000        0   52.635803

[15 rows x 28 columns]

In [124]:
df_test.iloc[:,1:-1]

                   Region  Gender Designation  ... Insurance   salary  FT/month
0                   Delhi  Female         Mrs  ...   3900000  1300000         1
1                   Delhi    Male          Mr  ...   1800000  1300000         1
2                   Delhi  Female         Mrs  ...   5000000  2000000         2
3                   Delhi  Female         Mrs  ...   3100000   600000         2
4                   Delhi  Female         Mrs  ...   2300000  1500000         1
...                   ...     ...         ...  ...       ...      ...       ...
14493  Thiruvananthapuram    Male          Mr  ...   4200000   800000         2
14494  Thiruvananthapuram  Female         Mrs  ...   4500000  1800000         2
14495  Thiruvananthapuram    Male          Mr  ...   4300000   800000         1
14496  Thiruvananthapuram  Female         Mrs  ...   2400000  1800000         2
14497  Thiruvananthapuram  Female         Mrs  ...   1400000  1000000         0

[14498 rows x 26 columns]

In [0]:
x = 'kartik'

In [126]:
x[:4:-1]

'k'

In [127]:
df_test.head()

   people_ID Region  Gender  ...   salary FT/month Infect_prob
0       5942  Delhi  Female  ...  1300000        1   52.933447
1      18664  Delhi    Male  ...  1300000        1   52.816434
2       5603  Delhi  Female  ...  2000000        2   52.608237
3       5649  Delhi  Female  ...   600000        2   52.674836
4       5099  Delhi  Female  ...  1500000        1   52.722272

[5 rows x 28 columns]

In [0]:
df_test[['people_ID','Infect_prob']].to_excel('out.xlsx')

In [135]:
ls

 97F142A0-77C3-4B22-A736-8B94511BD30E.jpeg
'97F142A0-77C3-4B22-A736-8B94511BD30E - Kartik Kumar.jpeg'
 Classroom/
'Colab Notebooks'/
 Courses/
 eBook_CAO_MorrisMano.gdoc
'Getting started.pdf'
 kaggle/
 MACHINE_LEARNING.pptx
'new doc 2019-09-14 21.46.34_20190914215012.pdf'
 OS_Assign_1.gdoc
 out.xlsx
 puffinbrowser/
 rege.py
 resume.pdf
 SSB/
 Test_dataset.xlsx
 Train_dataset.xlsx
 Variable_Description.xlsx
 X.pkl
 y.pkl