In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
cd /content/drive/My\ Drive

/content/drive/My Drive

In [3]:
ls

 97F142A0-77C3-4B22-A736-8B94511BD30E.jpeg
'97F142A0-77C3-4B22-A736-8B94511BD30E - Kartik Kumar.jpeg'
 Classroom/
'Colab Notebooks'/
 Courses/
 eBook_CAO_MorrisMano.gdoc
'Getting started.pdf'
 kaggle/
 MACHINE_LEARNING.pptx
'new doc 2019-09-14 21.46.34_20190914215012.pdf'
 OS_Assign_1.gdoc
 puffinbrowser/
 rege.py
 resume.pdf
 SSB/
 Test_dataset.xlsx
 Train_dataset.xlsx
 Variable_Description.xlsx

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Train_dataset.xlsx')

In [6]:
df.head()

   people_ID        Region  Gender  ...   salary FT/month Infect_Prob
0          1  Bhubaneshwar  Female  ...  1300000      2.0   49.135010
1          2  Bhubaneshwar  Female  ...   400000      1.0   51.147880
2          3  Bhubaneshwar  Female  ...   900000      1.0   73.224000
3          4  Bhubaneshwar  Female  ...  2300000      1.0   48.779225
4          5  Bhubaneshwar  Female  ...  1100000      1.0   87.868800

[5 rows x 28 columns]

In [7]:
df['comorbidity'].unique()

array(['Hypertension', 'Diabetes', 'None', 'Coronary Heart Disease', nan],
      dtype=object)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 28 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Name                      10694 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Occupation                9967 non-null object
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(10)
memory usage: 2.3+ MB

In [9]:
df.describe()

          people_ID      Children  ...     FT/month   Infect_Prob
count  10714.000000  10403.000000  ...  9991.000000  10714.000000
mean   10084.893784      1.062770  ...     1.004604     52.280680
std     7108.663645      0.818222  ...     0.815257     10.674667
min        1.000000      0.000000  ...     0.000000     29.289600
25%     2679.250000      0.000000  ...     0.000000     47.277426
50%    10003.500000      1.000000  ...     1.000000     49.008389
75%    15141.750000      2.000000  ...     2.000000     52.762313
max    22695.000000      2.000000  ...     2.000000     97.632000

[8 rows x 18 columns]

In [10]:
df.shape

(10714, 28)

In [11]:
len(df['Infect_Prob'].unique())

8724

In [12]:
df['Pulmonary score'].unique()

array(['<400', '<100', '<300', '<200'], dtype=object)

In [13]:
df['Occupation'].unique()

array(['Farmer', 'Cleaner', 'Driver', 'Manufacturing', 'Clerk', 'Sales',
       nan, 'Business', 'Researcher', 'Legal'], dtype=object)

In [14]:
df['HBB'].dtype != 'O'

True

In [15]:
for i in df.columns:
  if df[i].dtype == 'O':
    print (i, df[i].unique(), len(df[i].unique()),end = '\n\n')

Region ['Bhubaneshwar' 'Chandigarh' 'Chennai' 'Delhi' 'Bengaluru'] 5

Gender ['Female' 'Male'] 2

Designation ['Mrs' 'Mr'] 2

Name ['mansi' 'riya masi' 'sunita' ... 'mohd mujahid ansari' 'munnakumar'
 'mehboob mehandi'] 6305

Married ['YES' 'NO'] 2

Occupation ['Farmer' 'Cleaner' 'Driver' 'Manufacturing' 'Clerk' 'Sales' nan
 'Business' 'Researcher' 'Legal'] 10

Mode_transport ['Public' 'Walk' 'Car' nan] 4

comorbidity ['Hypertension' 'Diabetes' 'None' 'Coronary Heart Disease' nan] 5

Pulmonary score ['<400' '<100' '<300' '<200'] 4

cardiological pressure ['Normal' 'Stage-02' 'Elevated' 'Stage-01' nan] 5

In [0]:
df_sub = df.copy()

In [17]:
df_sub.columns

Index(['people_ID', 'Region', 'Gender', 'Designation', 'Name', 'Married',
       'Children', 'Occupation', 'Mode_transport', 'cases/1M', 'Deaths/1M',
       'comorbidity', 'Age', 'Coma score', 'Pulmonary score',
       'cardiological pressure', 'Diuresis', 'Platelets', 'HBB', 'd-dimer',
       'Heart rate', 'HDL cholesterol', 'Charlson Index', 'Blood Glucose',
       'Insurance', 'salary', 'FT/month', 'Infect_Prob'],
      dtype='object')

In [18]:
df_sub.drop(['people_ID','Region','Name','Designation','Occupation'],axis=1).head()

   Gender Married  Children  ...   salary  FT/month  Infect_Prob
0  Female     YES       1.0  ...  1300000       2.0    49.135010
1  Female     YES       2.0  ...   400000       1.0    51.147880
2  Female      NO       1.0  ...   900000       1.0    73.224000
3  Female     YES       1.0  ...  2300000       1.0    48.779225
4  Female      NO       2.0  ...  1100000       1.0    87.868800

[5 rows x 23 columns]

In [0]:
df_sub.drop(['people_ID','Region','Name','Designation','Occupation'],axis=1,inplace = True)

In [20]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [21]:
df_sub.head(10)

   Gender Married  Children  ...   salary  FT/month  Infect_Prob
0  Female     YES       1.0  ...  1300000       2.0    49.135010
1  Female     YES       2.0  ...   400000       1.0    51.147880
2  Female      NO       1.0  ...   900000       1.0    73.224000
3  Female     YES       1.0  ...  2300000       1.0    48.779225
4  Female      NO       2.0  ...  1100000       1.0    87.868800
5  Female     YES       1.0  ...  1900000       2.0    49.518345
6  Female     YES       2.0  ...  1600000       1.0    49.670361
7  Female     YES       1.0  ...  1200000       0.0    49.121025
8  Female     YES       2.0  ...   900000       0.0    48.531922
9  Female     YES       1.0  ...  1400000       2.0    48.475097

[10 rows x 23 columns]

In [22]:
df_sub.tail(10)

      Gender Married  Children  ...   salary  FT/month  Infect_Prob
10704   Male     YES       2.0  ...   700000       0.0    59.594744
10705   Male     YES       2.0  ...   900000       1.0    59.374719
10706   Male     YES       2.0  ...  1900000       2.0    58.798970
10707   Male      NO       NaN  ...  1100000       2.0    30.265920
10708   Male     YES       1.0  ...  1400000       2.0    53.741750
10709   Male      NO       2.0  ...   300000       0.0    41.981760
10710   Male     YES       0.0  ...   700000       NaN    47.148663
10711   Male     YES       0.0  ...  2100000       2.0    47.708533
10712   Male     YES       1.0  ...   700000       1.0    53.803565
10713   Male      NO       2.0  ...  1400000       0.0    68.342400

[10 rows x 23 columns]

In [0]:
df_sub['Children'].fillna(method='ffill',inplace=True)

In [24]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [0]:
df_sub['Mode_transport'].fillna(method='ffill',inplace=True)

In [26]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10714 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [0]:
df_sub['comorbidity'].fillna(method='ffill',inplace=True)

In [28]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10714 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10714 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [0]:
df_sub['cardiological pressure'].fillna(method='ffill',inplace=True)

In [30]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10714 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10714 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10714 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [31]:
df_sub.fillna(df_sub.mean()).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10714 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10714 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10714 non-null object
Diuresis                  10714 non-null float64
Platelets                 10714 non-null float64
HBB                       10714 non-null float64
d-dimer                   10714 non-null float64
Heart rate                10714 non-null float64
HDL cholesterol           10714 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 10714 non-null float64
salary                    10714 non-null int64
FT/month                  10714 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [0]:
df_sub.fillna(df_sub.mean(),inplace=True)

In [33]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null object
Married                   10714 non-null object
Children                  10714 non-null float64
Mode_transport            10714 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10714 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10714 non-null object
Diuresis                  10714 non-null float64
Platelets                 10714 non-null float64
HBB                       10714 non-null float64
d-dimer                   10714 non-null float64
Heart rate                10714 non-null float64
HDL cholesterol           10714 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 10714 non-null float64
salary                    10714 non-null int64
FT/month                  10714 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(7), object(6)
memory usage: 1.9+ MB

In [34]:
df_sub.head(10)

   Gender Married  Children  ...   salary  FT/month  Infect_Prob
0  Female     YES       1.0  ...  1300000       2.0    49.135010
1  Female     YES       2.0  ...   400000       1.0    51.147880
2  Female      NO       1.0  ...   900000       1.0    73.224000
3  Female     YES       1.0  ...  2300000       1.0    48.779225
4  Female      NO       2.0  ...  1100000       1.0    87.868800
5  Female     YES       1.0  ...  1900000       2.0    49.518345
6  Female     YES       2.0  ...  1600000       1.0    49.670361
7  Female     YES       1.0  ...  1200000       0.0    49.121025
8  Female     YES       2.0  ...   900000       0.0    48.531922
9  Female     YES       1.0  ...  1400000       2.0    48.475097

[10 rows x 23 columns]

In [0]:
df_sub[[x for x in df_sub.columns if df_sub[x].dtype == 'O']] = df_sub[[x for x in df_sub.columns if df_sub[x].dtype == 'O']].astype('category')

In [36]:
df_sub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 23 columns):
Gender                    10714 non-null category
Married                   10714 non-null category
Children                  10714 non-null float64
Mode_transport            10714 non-null category
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10714 non-null category
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null category
cardiological pressure    10714 non-null category
Diuresis                  10714 non-null float64
Platelets                 10714 non-null float64
HBB                       10714 non-null float64
d-dimer                   10714 non-null float64
Heart rate                10714 non-null float64
HDL cholesterol           10714 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 10714 non-null float64
salary                    10714 non-null int64
FT/month                  10714 non-null float64
Infect_Prob               10714 non-null float64
dtypes: category(6), float64(10), int64(7)
memory usage: 1.5 MB

In [0]:
categorical_columns = ['Gender','Married','Mode_transport','comorbidity','Pulmonary score', 'cardiological pressure']

In [38]:
df_sub['Pulmonary score'].cat.codes

0        3
1        0
2        2
3        1
4        3
        ..
10709    3
10710    3
10711    0
10712    2
10713    3
Length: 10714, dtype: int8

In [0]:
for i in categorical_columns:
  df_sub[i] = df_sub[i].cat.codes

In [40]:
df_sub.head()

   Gender  Married  Children  ...   salary  FT/month  Infect_Prob
0       0        1       1.0  ...  1300000       2.0    49.135010
1       0        1       2.0  ...   400000       1.0    51.147880
2       0        0       1.0  ...   900000       1.0    73.224000
3       0        1       1.0  ...  2300000       1.0    48.779225
4       0        0       2.0  ...  1100000       1.0    87.868800

[5 rows x 23 columns]

In [0]:
X = df_sub.drop('Infect_Prob',axis=1).values
y = df_sub['Infect_Prob'].values

In [42]:
X.dtype

dtype('float64')

In [43]:
y

array([49.13500977, 51.14788025, 73.224     , ..., 47.70853342,
       53.80356494, 68.3424    ])

In [44]:
pwd

'/content/drive/My Drive'

In [45]:
X

array([[0.0e+00, 1.0e+00, 1.0e+00, ..., 3.6e+06, 1.3e+06, 2.0e+00],
       [0.0e+00, 1.0e+00, 2.0e+00, ..., 1.6e+06, 4.0e+05, 1.0e+00],
       [0.0e+00, 0.0e+00, 1.0e+00, ..., 3.4e+06, 9.0e+05, 1.0e+00],
       ...,
       [1.0e+00, 1.0e+00, 0.0e+00, ..., 3.0e+06, 2.1e+06, 2.0e+00],
       [1.0e+00, 1.0e+00, 1.0e+00, ..., 2.9e+06, 7.0e+05, 1.0e+00],
       [1.0e+00, 0.0e+00, 2.0e+00, ..., 2.1e+06, 1.4e+06, 0.0e+00]])

In [46]:
X[0,12]

154.0

In [0]:
import pickle

In [48]:
pwd

'/content/drive/My Drive'

In [49]:
pickle.dump(X,'X.pkl')

TypeError: ignored

In [0]:
with open('X.pkl','wb') as pickle_file:
  pickle.dump(X,pickle_file)

In [0]:
with open('y.pkl','wb') as pickle_file:
  pickle.dump(y,pickle_file)

In [0]:
with open('X.pkl','rb') as in_file:
  temp = pickle.load(in_file)

In [56]:
temp

array([[0.0e+00, 1.0e+00, 1.0e+00, ..., 3.6e+06, 1.3e+06, 2.0e+00],
       [0.0e+00, 1.0e+00, 2.0e+00, ..., 1.6e+06, 4.0e+05, 1.0e+00],
       [0.0e+00, 0.0e+00, 1.0e+00, ..., 3.4e+06, 9.0e+05, 1.0e+00],
       ...,
       [1.0e+00, 1.0e+00, 0.0e+00, ..., 3.0e+06, 2.1e+06, 2.0e+00],
       [1.0e+00, 1.0e+00, 1.0e+00, ..., 2.9e+06, 7.0e+05, 1.0e+00],
       [1.0e+00, 0.0e+00, 2.0e+00, ..., 2.1e+06, 1.4e+06, 0.0e+00]])

In [57]:
temp.shape

(10714, 22)

In [58]:
X.shape

(10714, 22)