In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
cd /content/drive/My\ Drive

/content/drive/My Drive

In [0]:
ls

 97F142A0-77C3-4B22-A736-8B94511BD30E.jpeg
'97F142A0-77C3-4B22-A736-8B94511BD30E - Kartik Kumar.jpeg'
 Classroom/
'Colab Notebooks'/
 Courses/
 eBook_CAO_MorrisMano.gdoc
'Getting started.pdf'
 kaggle/
 MACHINE_LEARNING.pptx
'new doc 2019-09-14 21.46.34_20190914215012.pdf'
 OS_Assign_1.gdoc
 puffinbrowser/
 rege.py
 resume.pdf
 SSB/
 Test_dataset.xlsx
 Train_dataset.xlsx
 Variable_Description.xlsx

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Train_dataset.xlsx')

In [0]:
df.head()

   people_ID        Region  Gender  ...   salary FT/month Infect_Prob
0          1  Bhubaneshwar  Female  ...  1300000      2.0   49.135010
1          2  Bhubaneshwar  Female  ...   400000      1.0   51.147880
2          3  Bhubaneshwar  Female  ...   900000      1.0   73.224000
3          4  Bhubaneshwar  Female  ...  2300000      1.0   48.779225
4          5  Bhubaneshwar  Female  ...  1100000      1.0   87.868800

[5 rows x 28 columns]

In [0]:
df['comorbidity'].unique()

array(['Hypertension', 'Diabetes', 'None', 'Coronary Heart Disease', nan],
      dtype=object)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 28 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Name                      10694 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Occupation                9967 non-null object
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(10)
memory usage: 2.3+ MB

In [0]:
df.describe()

          people_ID      Children  ...     FT/month   Infect_Prob
count  10714.000000  10403.000000  ...  9991.000000  10714.000000
mean   10084.893784      1.062770  ...     1.004604     52.280680
std     7108.663645      0.818222  ...     0.815257     10.674667
min        1.000000      0.000000  ...     0.000000     29.289600
25%     2679.250000      0.000000  ...     0.000000     47.277426
50%    10003.500000      1.000000  ...     1.000000     49.008389
75%    15141.750000      2.000000  ...     2.000000     52.762313
max    22695.000000      2.000000  ...     2.000000     97.632000

[8 rows x 18 columns]

In [0]:
df.shape

(10714, 28)

In [0]:
len(df['Infect_Prob'].unique())

8724

In [0]:
df['Pulmonary score'].unique()

array(['<400', '<100', '<300', '<200'], dtype=object)

In [0]:
df['Occupation'].unique()

array(['Farmer', 'Cleaner', 'Driver', 'Manufacturing', 'Clerk', 'Sales',
       nan, 'Business', 'Researcher', 'Legal'], dtype=object)

In [0]:
df['HBB'].dtype != 'O'

True

In [0]:
for i in df.columns:
  if df[i].dtype == 'O':
    print (i, df[i].unique(), len(df[i].unique()),end = '\n\n')

Region ['Bhubaneshwar' 'Chandigarh' 'Chennai' 'Delhi' 'Bengaluru'] 5

Gender ['Female' 'Male'] 2

Designation ['Mrs' 'Mr'] 2

Name ['mansi' 'riya masi' 'sunita' ... 'mohd mujahid ansari' 'munnakumar'
 'mehboob mehandi'] 6305

Married ['YES' 'NO'] 2

Occupation ['Farmer' 'Cleaner' 'Driver' 'Manufacturing' 'Clerk' 'Sales' nan
 'Business' 'Researcher' 'Legal'] 10

Mode_transport ['Public' 'Walk' 'Car' nan] 4

comorbidity ['Hypertension' 'Diabetes' 'None' 'Coronary Heart Disease' nan] 5

Pulmonary score ['<400' '<100' '<300' '<200'] 4

cardiological pressure ['Normal' 'Stage-02' 'Elevated' 'Stage-01' nan] 5