In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
cd /content/drive/My\ Drive

/content/drive/My Drive

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Train_dataset.xlsx','Diuresis_TS')

In [13]:
df.head()

   people_ID  2020-03-20 00:00:00  ...  2020-03-25 00:00:00  2020-03-26 00:00:00
0          1                  441  ...           1215.68992          1472.627904
1          2                  151  ...            492.91072           606.892864
2          3                  416  ...           1150.32832          1395.793984
3          4                  410  ...           1126.78720          1368.344640
4          5                  390  ...           1084.40800          1315.889600

[5 rows x 8 columns]

In [14]:
df.shape

(10714, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 8 columns):
people_ID              10714 non-null int64
2020-03-20 00:00:00    10714 non-null int64
2020-03-21 00:00:00    10714 non-null float64
2020-03-22 00:00:00    10714 non-null float64
2020-03-23 00:00:00    10714 non-null float64
2020-03-24 00:00:00    10714 non-null float64
2020-03-25 00:00:00    10714 non-null float64
2020-03-26 00:00:00    10714 non-null float64
dtypes: float64(6), int64(2)
memory usage: 669.8 KB

In [0]:
import numpy as np

In [0]:
# split a univariate sequence into samples
def split_sequence(data, n_steps):
  
  X, y = list(), list()
  for k in range(data.shape[0]):
    sequence = data.iloc[k,:]
    for i in range(len(sequence)):
      # find the end of this pattern
      end_ix = i + n_steps
      # check if we are beyond the sequence
      if end_ix > len(sequence)-1:
        break
      # gather input and output parts of the pattern
      seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
      X.append(seq_x)
      y.append(seq_y)
  return np.array(X), np.array(y)

In [0]:
X,y = split_sequence(df,4)

In [68]:
X.shape

(42856, 4)

In [69]:
y.shape

(42856,)

In [0]:
from keras.models import Sequential
from keras.layers import Dense,LSTM

In [0]:
X = X.reshape((X.shape[0], X.shape[1], 1))

In [0]:
model = Sequential()
model.add(LSTM(50, activation='relu', return_sequences=True,input_shape=(4, 1)))
model.add(LSTM(50, activation='relu'))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

In [74]:
model.fit(X, y, epochs=20, verbose=1)

Epoch 1/20
42856/42856 [==============================] - 13s 310us/step - loss: 40863.8020
Epoch 2/20
42856/42856 [==============================] - 12s 271us/step - loss: 425.9365
Epoch 3/20
42856/42856 [==============================] - 12s 269us/step - loss: 48934.5714
Epoch 4/20
42856/42856 [==============================] - 12s 271us/step - loss: 4598.6724
Epoch 5/20
42856/42856 [==============================] - 12s 271us/step - loss: 993.6520
Epoch 6/20
42856/42856 [==============================] - 12s 269us/step - loss: 894.1012
Epoch 7/20
42856/42856 [==============================] - 12s 270us/step - loss: 117.3151
Epoch 8/20
42856/42856 [==============================] - 12s 268us/step - loss: 71.6067
Epoch 9/20
42856/42856 [==============================] - 12s 270us/step - loss: 192.7237
Epoch 10/20
42856/42856 [==============================] - 11s 268us/step - loss: 500.7101
Epoch 11/20
42856/42856 [==============================] - 11s 268us/step - loss: 107.3889
Epoch 12/20
42856/42856 [==============================] - 12s 270us/step - loss: 167.2762
Epoch 13/20
42856/42856 [==============================] - 12s 279us/step - loss: 1338.7775
Epoch 14/20
42856/42856 [==============================] - 12s 269us/step - loss: 81.5692
Epoch 15/20
42856/42856 [==============================] - 12s 269us/step - loss: 134.6591
Epoch 16/20
42856/42856 [==============================] - 12s 269us/step - loss: 538.6745
Epoch 17/20
42856/42856 [==============================] - 12s 269us/step - loss: 96.4287
Epoch 18/20
42856/42856 [==============================] - 12s 269us/step - loss: 53.5453
Epoch 19/20
42856/42856 [==============================] - 12s 269us/step - loss: 54.3652
Epoch 20/20
42856/42856 [==============================] - 12s 270us/step - loss: 66.1012

In [0]:
inp = [669.64,821.368,1002.2416,1215.68992,]
inp = np.array(inp)
inp = inp.reshape(1,4,1)

In [80]:
model.predict(inp)

array([[1787.977]], dtype=float32)

In [0]:
inp = [253.24,321.688,399.9256,492.91072]
inp = np.array(inp)
inp = inp.reshape(1,4,1)

In [83]:
model.predict(inp,verbose=1)

1/1 [==============================] - 0s 4ms/step

array([[608.7107]], dtype=float32)