In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
cd /content/drive/My\ Drive

/content/drive/My Drive

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('Train_dataset.xlsx','Diuresis_TS')

In [13]:
df.head()

   people_ID  2020-03-20 00:00:00  ...  2020-03-25 00:00:00  2020-03-26 00:00:00
0          1                  441  ...           1215.68992          1472.627904
1          2                  151  ...            492.91072           606.892864
2          3                  416  ...           1150.32832          1395.793984
3          4                  410  ...           1126.78720          1368.344640
4          5                  390  ...           1084.40800          1315.889600

[5 rows x 8 columns]

In [14]:
df.shape

(10714, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 8 columns):
people_ID              10714 non-null int64
2020-03-20 00:00:00    10714 non-null int64
2020-03-21 00:00:00    10714 non-null float64
2020-03-22 00:00:00    10714 non-null float64
2020-03-23 00:00:00    10714 non-null float64
2020-03-24 00:00:00    10714 non-null float64
2020-03-25 00:00:00    10714 non-null float64
2020-03-26 00:00:00    10714 non-null float64
dtypes: float64(6), int64(2)
memory usage: 669.8 KB

In [0]:
import numpy as np

In [0]:
# split a univariate sequence into samples
def split_sequence(data, n_steps):
  
  X, y = list(), list()
  for k in range(data.shape[0]):
    sequence = data.iloc[k,:]
    for i in range(len(sequence)):
      # find the end of this pattern
      end_ix = i + n_steps
      # check if we are beyond the sequence
      if end_ix > len(sequence)-1:
        break
      # gather input and output parts of the pattern
      seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
      X.append(seq_x)
      y.append(seq_y)
  return np.array(X), np.array(y)

In [0]:
X,y = split_sequence(df,4)

In [37]:
X.shape

(42856, 4)

In [38]:
y.shape

(42856,)